# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=arc-prime-pdf-storage-bucket
OPENAI_API_KEY=
# Server Configuration
PORT=3000
NODE_ENV=development
PINECONE_API_KEY=pclocal
PINECONE_INDEX=disclosures
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
